@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-background text-dark font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark;
  }

  button {
    @apply transition-colors duration-200;
  }

  a {
    @apply text-primary hover:text-primary/80 transition-colors;
  }
}

html,
body {
  height: 100%;
}
